.Gif {
    border: 1px solid #eee;
    border-radius: 6px;
    display: felx;
    flex-direction: column;
    margin: 16px;
    width: 100%;
    color: #fff;
    text-decoration: none;
    
}

.Gif h4 {
    margin: 0
}

.Gif img {
    object-fit: contain;
}